{% load staticfiles %}
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>IPV Cloud</p>
              <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Admin Panel</li>
            <li class="active treeview">
               <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span></i>
              </a>
            </li>
             <li class="treeview">
                   <a href="{% url 'new_group' %}">
                <span>Add New Group</span>
              </a>
            </li>
            <li class="treeview">
              <a href="{% url 'ip_form' %}">
                <span>Region-IP Update</span>
              </a>
            </li>

            <li class="treeview">
              <a href="{% url 'country_form' %}">
                <span>Region-Country Update</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>