<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <script>
        window.onload = function () {
            $('#regexpForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    hostname: {
                        validators: {
                            notEmpty: {
                                message: 'Hostname is required'
                            }
                        }
                    },
                    no_region: {
                        validators: {
                            regexp: {
                                regexp: '^[1-9]\d*$',
                                message: 'Enter integer number greater than 0'
                            },
                            notEmpty: {
                                message: 'Number of group is required'
                            }
                        }
                    }
                }
            });
        }
        function GiveAlert() {
            alert("You are successfully registered");
        }
    </script>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <!-- IP mask -->
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <form id="regexpForm" action="{% url 'group_form' %}" method="post">{% csrf_token %}
                            <div class="form-group" id="myform">
                                <label>Hostname</label>
                                <input type="text" class="form-control" placeholder="Hostname" name="hostname">
                            </div>

                            <div class="form-group" id="myform">
                                <label>No of Regions</label>
                                <input type="text" class="form-control" name="no_region">
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>


    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->
      