{% extends 'include_files/skeleton.html' %}
{% load staticfiles %}


{% block content %}

    <style>
      table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;

            /*text-align: left;*/
        }

        tbody {
            height: 135px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }


        tbody td, thead th {
            width: 19.2%;
            float: left;
        }
    </style>
    <script class="jsbin" src="{% static 'dist/js/checkbox.jquery.js' %}"></script>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->

            <script type="text/javascript">
                function setAll(cls, e, group_index) {
{#                   alert(group_name);#}
                    var flag = e.disabled;
                    var elm = document.getElementsByClassName(cls);
{#                    alert(elm);#}
{#                var str1 = "";#}
{#                     {% for group in context.groups %}#}
{#                         alert({{ group.group_name }});#}
{#                         str1.concat({{ group.group_name}});#}
{##}
{#                    {% endfor %}#}
{#                    alert(str1);#}
{#                    {% for group in context.groups.items %}#}
{#                        alert({{ group.group_name }});#}
{#                    {% endfor %}#}

{#                    fruits.indexOf("Apple");#}

                    for (i = 0; i < elm.length; i++) {
                        if(i != (group_index -1)) {
                            if(elm[i].disabled){
                                elm[i].disabled = false;
                            }
                            else
                            {
                            elm[i].disabled = true;
                            }
                        }
                    }
                }

            </script>
            <!-- IP mask -->
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{% url 'group_find' %}" method="post">{% csrf_token %}
                                <div class="form-group">
                                    <label>Hostname</label>
                                    <select id="host" class="form-control select2" style="width: 100%;" name="hostname">
                                        <option>--Select--</option>
                                        {% for host in context.hosts %}
                                            <option value={{ host.host }}>{{ host.host }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            {% if context.flag == 1 %}
                                <form action="{% url 'country_update' %}" method="post">{% csrf_token %}
                                <input type="hidden" name="hostname" value="{{ context.hostname }}">
                                    {% for group in context.groups %}
                                        <div class="form-group">
                                            <label>Group name:: {{ group.group_name }}{{forloop.counter}}</label><br>
                                                 {% with forloop.counter as custom  %}
                                            <table class="table table-bordered" width="100%">
                                                <tbody>
                                                    <tr>
                                                        {% for country in context.countries %}
    {#                                                        {% with "flat-red "|add:country as custom  %}#}
                                                            <td><label><input type="checkbox" class="{{ country }}" onchange="setAll('{{ country }}',this,'{{ custom }}')"
                                                                              name="{{ group }}[]" value="{{ country }}"> {{ country }}</label></td>
    {#                                                        {% endwith %}#}
                                                            {% if not forloop.last and forloop.counter|divisibleby:"25" %}
                                                                </tr>
                                                                <tr>
    
                                                            {% endif %}
                                                        {% endfor %}
                                                        </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endwith %}
                                    {% endfor %}
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                                    </div>
                                </form>
                            {% endif %}

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>


        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}