{% extends 'include_files/skeleton.html'%}


{% block content%}
     <style>
      table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;

            /*text-align: left;*/
        }

        tbody {
            height: 135px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }


        tbody td, thead th {
            width: 19.2%;
            float: left;
        }
    </style>
      <script type="text/javascript">
                function setAll(cls, e, group_index) {
{#                   alert(group_name);#}
                    var flag = e.disabled;
                    var elm = document.getElementsByClassName(cls);
{#                    alert(elm);#}
{#                var str1 = "";#}
{#                     {% for group in context.groups %}#}
{#                         alert({{ group.group_name }});#}
{#                         str1.concat({{ group.group_name}});#}
{##}
{#                    {% endfor %}#}
{#                    alert(str1);#}
{#                    {% for group in context.groups.items %}#}
{#                        alert({{ group.group_name }});#}
{#                    {% endfor %}#}

{#                    fruits.indexOf("Apple");#}

                    for (i = 0; i < elm.length; i++) {
                        if(i != (group_index -1)) {
                            if(elm[i].disabled){
                                elm[i].disabled = false;
                            }
                            else
                            {
                            elm[i].disabled = true;
                            }
                        }
                    }
                }

            </script>

 <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
                            <!-- IP mask -->
            <div class="box box-default">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-10">
                       <label>Hostname: {{ context.hostname }}</label><br>
                    <label>Existing Groups of {{ context.hostname }}</label>
                     {%for groups in context.exist_groups%}
                           <div class="form-group">
                                <label>{{ groups.group_name }}</label>
                           </div><!-- /.form-group -->
                          {% endfor %}
                        <form action="{% url 'group_post' %}" method="post">{% csrf_token %}
                          {%for group in context.no_region%}
                           <div class="form-group">
                                <label>new_group-{{ group }}</label>
                                 <input type="text" class="form-control"  placeholder="Enter a group name" name="{{ group }}">
                           </div><!-- /.form-group -->
                           <div class="form-group">
                           <label>Choose Countries</label>
                                <table class="table table-bordered" width="100%">
                                                <tbody>
                                                    <tr>
                                                        {% for country in context.countries_list %}
    {#                                                        {% with "flat-red "|add:country as custom  %}#}
                                                            <td><label><input type="checkbox" class="{{ country }}"
                                                                              name="{{ group }}[]" value="{{ country }}"> {{ country }}</label></td>
    {#                                                        {% endwith %}#}
                                                            {% if not forloop.last and forloop.counter|divisibleby:"25" %}
                                                                </tr>
                                                                <tr>

                                                            {% endif %}
                                                        {% endfor %}
                                                        </tr>
                                                </tbody>
                                            </table>
                           </div><!-- /.form-group -->
                          {% endfor %}

                            <div class="box-footer">
                                <input type="hidden" class="form-control"  name="hostname" value="{{ context.hostname }}">
                                <input type="hidden" class="form-control"  name="regions" value="{{ context.regions }}">
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>
                        </form>
                       </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>




        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% endblock %}