{% extends 'include_files/skeleton.html'%}
{% load staticfiles %}



{% block content%}
 <!-- Content Wrapper. Contains page content -->
    <script src="{% static 'dist/js/jquery.js' %}"></script>
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->


        <script type="text/javascript">
            $(document).ready(function(){
            //Function executes on change of first select option field

                        $("#group").empty();//To reset cities
                        $("#group").append("<option>--Select--</option>");
                            {% for i in context.groups %}
                                 $("#group").append("<option value=\""+"{{ i.group_name }}"+"\">"+"{{ i.group_name }}"+"</option>");
                            {% endfor %}

            });


        </script>
                            <!-- IP mask -->
            <div class="box box-default">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                         <form action="{% url 'ip_update' %}" method="post">{% csrf_token %}
                           <div class="form-group"><label>Choose group for IP selection</label><br><br>
                                <label>Hostname</label>
                                <select id="host" class="form-control select2" style="width: 100%;" name="hostname">
                                        <option value={{context.hostname }} selected>{{ context.hostname }}</option>
                                </select>
                           </div>

                             <div class="form-group">
                                <label>Region</label>
                                <select  id="group" class="form-control select2" style="width: 100%;" name="group_name"></select>
                           </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>

                         </form>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

{% endblock %}

