{% extends 'include_files/skeleton.html' %}
{% load staticfiles %}
{% block content%}

<div class="content-wrapper">
        <!-- Content Header (Page header) -->
     <SCRIPT language="javascript">
            function msg(){
                alert("Successfully IP Updated");
            }

        </SCRIPT>
     <script>
                window.onload = function () {
                    $('#regexpForm').bootstrapValidator({
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            "ip": {
                                validators: {
                                    regexp: {
{#                                        regexp: '^(?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}).(?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}).(?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}).(?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2})$',#}
                                        regexp: '^(((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2})))$',
                                        message: 'Enter valid IP'
                                    },
                                    notEmpty: {
                                        message: 'IP address is required'
                                    }
                                }
                            },
                            "type": {
                                validators: {
                                    notEmpty: {
                                        message: 'IP type is required'
                                    }
                                }
                            },
                            "priority": {
                                validators: {
                                    regexp: {
                                        regexp: '^[1-9]\d*$',
                                        message: 'Enter integer number greater than 0'
                                    },
                                    notEmpty: {
                                        message: 'IP priority is required'
                                    }
                                }
                            },
                            "custom": {
                                validators: {
                                    regexp: {
                                        regexp: '^[1-9]\d*$',
                                        message: 'Enter integer number greater than 0'
                                    },
                                    notEmpty: {
                                        message: 'IP ttl is required'
                                    }
                                }
                            }
                        }
                    });
                }

            </script>

        <!-- Main content -->
        <section class="content">
          <div class="row">
              <!-- general form elements -->
               <div class="col-md-2"></div>
               <div class="col-md-8">
                   <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Update IP and it's related information for type:: {{ context.type }}</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form id="regexpForm" action="{% url 'ip_modify' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                  <div class="box-body">
                    <div class="form-group"><label>IP Address</label><input type="text" class="form-control" name="ip" value="{{ context.ip }}"></div>
                    <div class="form-group"><label>Priority</label><input type="text" class="form-control" name="priority" value="{{ context.priority }}"></div>
{#                    <div class="form-group"><label>Type</label><input type="hidden" class="form-control" name="type" value="{{ context.type }}"></div>#}
                      <input type="hidden" class="form-control" name="type" value="{{ context.type }}">
                    <div class="form-group"><label>TTl - {{ context.ttl }} seconds</label></label>
                        <script type="text/javascript">

                                            function changeFunc($i) {
                                                if ($i == "1") {
                                                    $("#custom").empty();
                                                    $("#custom").append('<input type="text" name="custom" class="form-control" placeholder="Time in seconds">');
                                                }
                                                else {
                                                    $("#custom").empty();
                                                }
                                            }

                                        </script>
                        <select name="ttl" class="form-control"
                                                onchange="changeFunc(value)">
                                            <option value="604800">7 Days</option>
                                            <option value="259200">3 Days</option>
                                            <option value="86400">1 Day</option>
                                            <option value="43200">12 Hours</option>
                                            <option value="21600">6 Hours</option>
                                            <option value="10800">3 Hours</option>
                                            <option value="3600">1 Hour</option>
                                            <option value="1">Custom</option>
                                        </select></div>
                                    <div id="custom" class="form-group"></div></div>


                    <input type="hidden" class="form-control" name="hostname" value="{{ context.hostname }}">
                    <input type="hidden" class="form-control" name="group_name" value="{{ context.group_name }}">
                    <input type="hidden" class="form-control" name="old_ip" value="{{ context.ip }}">
                  <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right" onclick="msg()">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->

               </div>
               <div class="col-md-2"></div>
          </div>
        </section>
    </div>


{% endblock %}