{% extends 'include_files/skeleton.html' %}
{% load staticfiles %}



{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <script src="{% static 'dist/js/jquery.js' %}"></script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <SCRIPT language="javascript">
            window.onload = function () {
                $('#regexpForm').bootstrapValidator({
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        "ip[]": {
                            validators: {
                                regexp: {
                                    regexp: '^[1-9]\d*$',
                                    message: 'Enter valid number'
                                },
                                notEmpty: {
                                    message: 'IP address is required'
                                }
                            }
                        }
                    }
                });
            }
            function addRow(tableID) {

                var table = document.getElementById(tableID);

                var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);

                var colCount = table.rows[0].cells.length;

                for (var i = 0; i < colCount; i++) {

                    var newcell = row.insertCell(i);

                    newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                    //alert(newcell.childNodes);
                    switch (newcell.childNodes[0].id) {
                        case "ip":
                            newcell.childNodes[0].value = "";
                            break;
                        case "check_id":
                            newcell.childNodes[0].checked = false;
                            break;
                        case "select-one":
                            newcell.childNodes[0].selectedIndex = 0;
                            break;
                    }
                }
            }

            function deleteRow(tableID) {
                try {
                    var table = document.getElementById(tableID);
                    var rowCount = table.rows.length;

                    for (var i = 0; i < rowCount; i++) {
                        var row = table.rows[i];
                        var chkbox = row.cells[0].childNodes[0];
                        if (null != chkbox && true == chkbox.checked) {
                            if (rowCount <= 1) {
                                alert("Cannot delete all the rows.");
                                break;
                            }
                            table.deleteRow(i);
                            rowCount--;
                            i--;
                        }


                    }
                } catch (e) {
                    alert(e);
                }
            }
            function msg() {
                alert("Successfully IP Updated");
            }

        </SCRIPT>
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <script>
                window.onload = function () {
                    $('#regexpForm').bootstrapValidator({
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            "ip": {
                                validators: {
                                    regexp: {
                                        regexp: '^(((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2}))\.((?:2(?:(?:[0-4][0-9])|(?:5[0-5])))|(?:1?[0-9]{1,2})))$',
                                        message: 'Enter valid IP'
                                    },
                                    notEmpty: {
                                        message: 'IP address is required'
                                    }
                                }
                            },
                            "type": {
                                validators: {
                                    notEmpty: {
                                        message: 'IP type is required'
                                    }
                                }
                            },
                            "priority": {
                                validators: {
                                    regexp: {
                                        regexp: '^[1-9]\d*$',
                                        message: 'Enter integer number greater than 0'
                                    },
                                    notEmpty: {
                                        message: 'IP priority is required'
                                    }
                                }
                            },
                            "custom": {
                                validators: {
                                    regexp: {
                                        regexp: '^[1-9]\d*$',
                                        message: 'Enter integer number greater than 0'
                                    }
                                }
                            }
                        }
                    });
                }

                $(document).ready(function () {
                    //Function executes on change of first select option field
                    $('.plusbtn').click(function () {
                        var temp = "'alias': 'ip'";
                        var pos = '<tr class="test1">' +
                                '<td><input type="text" class="form-control" name="ip[]" data-mask data-inputmask="' + temp + '"></td> ' +
                                '<td><input type="text" name="ip_type[]" class="form-control"></td>' +
                                '<td> <input type="button" style="border-radius: 3px;background-color: #F37726;border-color: #008d4c; border: 1px solid transparent;" value="Remove" class="minusbtn"/></td>' +
                                '</tr>';
                        $(".test").append(pos);
                    });
                    $('.minusbtn').click(function () {
                        $(this).closest(".test1").remove();
                        if ($(".test1").length != 1) {
                            $(".test1:last-child").remove();
                        }
                        else {
                            alert("You cannot delete anything now");
                        }
                    });
                });
            </script>
            <!-- IP mask -->

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3 class="box-title">Available IP Adresses in Group - {{ context.group_id }}</h3><br>
                            <INPUT type="button"
                                   style="border-radius: 3px;background-color: #F37726;border-color: #008d4c; border: 1px solid transparent;"
                                   value="Add New Record" data-toggle="modal" data-target="#myModal"/>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>IP Address</th>
                                    <th>Priority</th>
                                    <th>IP Type</th>
                                    <th>IP TTL</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for i in context.ip_list %}
                                    <TR>
                                        <td>{{ forloop.counter }}</td>
                                        <TD>{{ i.ip }}</TD>
                                        <TD>{{ i.priority }}</TD>
                                        <TD>{{ i.type }}</TD>
                                        <TD>{{ i.ttl }}</TD>
                                        <TD>
                                            <button class="btn btn-info">
                                                <a href="{% url 'edit' i.ip i.priority i.type i.ttl context.host context.group %}"
                                                   style="color: #0C0C0C;">EDIT</a></button>
                                            <form action="{% url 'delete_ip' %}" method="post"
                                                  enctype="multipart/form-data"> {% csrf_token %}
                                                <input type="hidden" class="form-control" name="ip"
                                                       value="{{ i.ip }}">
                                                <input type="hidden" class="form-control" name="hostname"
                                                       value="{{ context.host }}">
                                                <input type="hidden" class="form-control" name="group_name"
                                                       value="{{ context.group }}">
                                               <button type="submit" class="btn btn-info">Delete</button>
                                            </form>
                                        </TD>
                                    </TR>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add new IP and it's related information</h4>
                            </div>
                            <div class="modal-body">
                                <form id="regexpForm" action="{% url 'ip_post' %}" method="post"
                                      enctype="multipart/form-data"> {% csrf_token %}
                                    <div class="box-body">
                                         <script type="text/javascript">

                                                function changeType($i) {
                                                    if ($i == "A") {
                                                        $("#ip").empty();
                                                        $("#ip").append('<label>IP Address</label><input type="text" class="form-control" name="ip" placeholder="IPV4 Address">');
                                                        $("#priority").empty();
                                                        $("#priority").append('<label>Priority</label><input type="text" class="form-control" name="priority">');
                                                        $("#ttl").empty();
                                                        $("#ttl").append('<label>TTL</label> <select name="ip_ttl" class="form-control" onchange="changeFunc(value)"> ' +
                                                                '<option value="604800">7 Days</option> ' +
                                                                '<option value="259200">3 Days</option> ' +
                                                                '<option value="86400">1 Day</option> ' +
                                                                '<option value="43200">12 Hours</option> ' +
                                                                '<option value="21600">6 Hours</option> ' +
                                                                '<option value="10800">3 Hours</option> ' +
                                                                '<option value="3600">1 Hour</option> ' +
                                                                '<option value="1">Custom</option> </select>');
                                                    }
                                                    else if($i == "AAAA"){
                                                        $("#ip").empty();
                                                        $("#ip").append('<label>IP Address</label><input type="text" class="form-control" name="ip" placeholder="IPV6 Address">');
                                                        $("#priority").empty();
                                                        $("#priority").append('<label>Priority</label><input type="text" class="form-control" name="priority">');
                                                        $("#ttl").empty();
                                                        $("#ttl").append('<label>TTL</label> <select name="ip_ttl" class="form-control" onchange="changeFunc(value)"> ' +
                                                                '<option value="604800">7 Days</option> ' +
                                                                '<option value="259200">3 Days</option> ' +
                                                                '<option value="86400">1 Day</option> ' +
                                                                '<option value="43200">12 Hours</option> ' +
                                                                '<option value="21600">6 Hours</option> ' +
                                                                '<option value="10800">3 Hours</option> ' +
                                                                '<option value="3600">1 Hour</option> ' +
                                                                '<option value="1">Custom</option> </select>');
                                                    }
                                                    else if($i == "NS"){
                                                        $("#ip").empty();
                                                        $("#ip").append('<label>IP Address</label><input type="text" class="form-control" name="ip" placeholder="Name Server Address">');
                                                        $("#priority").empty();
                                                        $("#priority").append('<label>Priority</label><input type="text" class="form-control" name="priority">');
                                                        $("#ttl").empty();
                                                        $("#ttl").append('<label>TTL</label> <select name="ip_ttl" class="form-control" onchange="changeFunc(value)"> ' +
                                                                '<option value="604800">7 Days</option> ' +
                                                                '<option value="259200">3 Days</option> ' +
                                                                '<option value="86400">1 Day</option> ' +
                                                                '<option value="43200">12 Hours</option> ' +
                                                                '<option value="21600">6 Hours</option> ' +
                                                                '<option value="10800">3 Hours</option> ' +
                                                                '<option value="3600">1 Hour</option> ' +
                                                                '<option value="1">Custom</option> </select>');

                                                    }
                                                    else {
                                                        $("#ip").empty();
                                                        $("#priority").empty();
                                                        $("#ttl").empty();
                                                    }
                                                }

                                            </script>
                                        <label>Type</label>
                                         <select name="type" class="form-control"
                                                    onchange="changeType(value)">
                                                <option value="9">--Select Type--</option>
                                                <option value="A">A</option>
                                                <option value="AAAA">AAAA</option>
                                                <option value="NS">NS</option>

                                            </select>
                                        <div id="ip" class="form-group"></div>
                                        <div id="priority" class="form-group"></div>
{#                                        <div class="form-group"><label>Type</label><input type="text"#}
{#                                                                                          class="form-control"#}
{#                                                                                          name="type"></div>#}
                                        <script type="text/javascript">

                                                function changeFunc($i) {
                                                    if ($i == "1") {
                                                        $("#custom").empty();
                                                        $("#custom").append('<input type="text" name="custom" class="form-control" placeholder="Time in seconds">');
                                                    }
                                                    else {
                                                        $("#custom").empty();
                                                    }
                                                }

                                            </script>
                                        <div id="ttl" class="form-group">
{#                                            <label>TTL</label>#}
{##}
{#                                            <select name="ip_ttl" class="form-control"#}
{#                                                    onchange="changeFunc(value)">#}
{#                                                <option value="604800">7 Days</option>#}
{#                                                <option value="259200">3 Days</option>#}
{#                                                <option value="86400">1 Day</option>#}
{#                                                <option value="43200">12 Hours</option>#}
{#                                                <option value="21600">6 Hours</option>#}
{#                                                <option value="10800">3 Hours</option>#}
{#                                                <option value="3600">1 Hour</option>#}
{#                                                <option value="1">Custom</option>#}
{#                                            </select>#}
                                        </div><br>
                                        <div id="custom" class="form-group"></div>


                                        <input type="hidden" class="form-control" name="hostname"
                                               value="{{ context.host }}">
                                        <input type="hidden" class="form-control" name="group_name"
                                               value="{{ context.group }}">
                                        <input type="hidden" class="form-control" name="old_ip"
                                               value="{{ context.ip }}">
                                        <input type="hidden" name="group_id" value="{{ context.group_id }}">

                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-info pull-right" onclick="msg()">Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                {#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->

{% endblock %}

