{% extends 'include_files/skeleton.html'%}


{% block content%}
     <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
             <div class="callout callout-success">
                    <h4>Successfully groups are added</h4>
             </div>
        </section>
     </div>
{% endblock %}