{% extends 'include_files/skeleton.html' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Domain, group and ip list</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Domain Name</th>
                            <th>Group Name</th>
                            <th>IP List</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for key, value in context.group_ip.items %}
                            {% for group, host in value.items %}

                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ group }}</td>
                                    <td>{{ host|join:"  | " }}</td>

                                </tr>
                            {% endfor %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Group, Country list</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Country List</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for key, value in context.group_country.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value|join:"  | " }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
    </div>

{% endblock %}